@import url("//fonts.googleapis.com/css?family=Lato:400,900,400italic,700italic");
@font-face {
  font-family: "Telefon";
  src: font-url("https://production-assets.codepen.io/assets/telefon/bold/af889c53-1ee3-4868-8fdc-2b310d587b50-3-b7a87e0fbd213943fae0c0ef5985635dd43fa9c24876b2725127a13ccaf4ab6a.woff") format("woff");
}
@font-face {
  font-family: "Telefon Black";
  src: font-url("https://production-assets.codepen.io/assets/telefon/black/3f32b1c9-8e26-465e-ae02-ff82a378b670-3-78992f1ed89d5cadb09702e6a0d5bbb0302e85c728c1f8d18fdc8aa56870104c.woff") format("woff");
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: #e7e7e7;
}
::-webkit-scrollbar-track {
  background: none;
}

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.5;
  color: #222;
}
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
html a {
  color: #4c8ee8;
}
html a:hover, html a:focus {
  color: #a6c7f4;
}

.markdown-body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

p, blockquote, figure, pre {
  margin: 0 0 1rem 0;
}
p:empty, blockquote:empty, figure:empty, pre:empty {
  display: none;
}

a {
  text-decoration: none;
  color: #76daff;
}
a:hover, a:focus, a:active {
  cursor: pointer;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 2rem 0 1rem 0;
}

h1, h2 {
  font-size: 2.197rem;
}
h1, h2 {
  font-size: 35.152px;
}
@media screen and (min-width: 320px) {
  h1, h2 {
    font-size: calc(35.152px + 30.384 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h1, h2 {
    font-size: 65.536px;
  }
}

h1 {
  font-family: "Telefon Black", Sans-Serif;
  padding: 0 0 0.25rem 0;
  border-bottom: 3px solid #ccc;
}

h2 {
  font-family: "Telefon", Sans-Serif;
  border-bottom: 3px solid #ccc;
}

h3 {
  font-size: 1.69rem;
}
h3 {
  font-size: 27.04px;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(27.04px + 13.92 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 40.96px;
  }
}

h4, h5 {
  font-size: 1.3rem;
}
h4, h5 {
  font-size: 20.8px;
}
@media screen and (min-width: 320px) {
  h4, h5 {
    font-size: calc(20.8px + 4.8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h4, h5 {
    font-size: 25.6px;
  }
}

h4 {
  text-transform: uppercase;
}

h6 {
  font-size: 1rem;
}

blockquote {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: none;
}
blockquote p:last-child {
  margin-bottom: 0;
}

ul, ol, dl {
  margin: 0 0 1rem 1.5rem;
  padding: 0;
}
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl {
  margin: 0.5rem 0 0.5rem 1.5rem;
}

dt {
  font-weight: bold;
}

li {
  margin: 0 0 0.5rem 0;
}

hr {
  border: 0;
  height: 3px;
  background: #ccc;
  position: relative;
  margin: 3rem 0;
}

p > code, li > code, dd > code, td > code {
  background: #f7f7f7;
  padding: 1px 5px 2px;
  margin: 0 1px;
  border-radius: 4px;
  position: relative;
  top: -1px;
}

figure {
  display: block;
  padding: 1rem;
  border-top: 1px solid #9dcce9;
  border-bottom: 1px solid #9dcce9;
  text-align: center;
  margin: 0 0 1.5rem 0;
  background: #eef8ff;
}

img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

time {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 80%;
}

pre {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  background: #f7f7f7;
  padding: 1rem;
  font-size: 80%;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre > code {
  white-space: pre;
  display: block;
  overflow-x: auto;
  font-size: inherit;
}
pre > code::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
pre > code::-webkit-scrollbar-thumb {
  background: #e7e7e7;
}
pre > code::-webkit-scrollbar-track {
  background: none;
}
body pre > code {
  scrollbar-face-color: #e7e7e7;
  scrollbar-track-color: none;
}

code {
  font-family: "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  font-size: 80%;
  text-transform: none;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
table th, table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
