---
---

body {
background-color: #0d1117;
}

/*@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #000;
}

.page-header {
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom right,
            #2C3E50, #FD746C,
            #FF8235, #ffff1c,
            #92FE9D, #00C9FF,
            #a044ff, #e73827);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 240s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 100%
    }

    100% {
        background-position: 0% 0%
    }
}
*/


// Imports mixins and functions and variables and stuff based on what we use on the site. Check external resources.

$MQs: true;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 20px;

$mod_1: 1.3; // mobile
$mod_2: 1.6; // desktop

$linkColorOnWhite: #4c8ee8;
$linkColorOnBlack: #5792E2;

@import url('//fonts.googleapis.com/css?family=Lato:400,900,400italic,700italic');

@font-face {
  font-family: "Telefon";
  src:
    font-url("https://production-assets.codepen.io/assets/telefon/bold/af889c53-1ee3-4868-8fdc-2b310d587b50-3-b7a87e0fbd213943fae0c0ef5985635dd43fa9c24876b2725127a13ccaf4ab6a.woff") format("woff");
}
@font-face {
  font-family: "Telefon Black";
  src:
    font-url("https://production-assets.codepen.io/assets/telefon/black/3f32b1c9-8e26-465e-ae02-ff82a378b670-3-78992f1ed89d5cadb09702e6a0d5bbb0302e85c728c1f8d18fdc8aa56870104c.woff") format("woff")
}

* {
  box-sizing: border-box;
}

html {
  @include font-stack-normal;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  // border looks weird with images in links
  // @include linkStyleText($linkColorOnWhite, #acacac);
  // recreating mixin here without border:
  a {
    color: $linkColorOnWhite;
    &:hover,
    &:focus {
      color: lighten($linkColorOnWhite, 20%);
    }
  }
  line-height: 1.5;
  color: #222;
}
.markdown-body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

p, blockquote, figure, pre {
  margin: 0 0 1rem 0;
  &:empty {
    display: none;
  }
}

a {
  text-decoration: none;
  color: $linkColor;
  &:hover, &:focus, &:active {
    cursor: pointer; // some <a> without href
    color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 2rem 0 1rem 0;
}
h1, h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h1 {
  @include font-stack-header;
  padding: 0 0 0.25rem 0;
  border-bottom: 3px solid #ccc;
}
h2 {   
  font-family: "Telefon", Sans-Serif;
  border-bottom: 3px solid #ccc;
}
h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}
h4, h5 { 
  font-size: $mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
}
h4 {
  text-transform: uppercase;
}
h6 { 
  font-size: 1rem; 
}

blockquote {
  padding: 1rem;
  background: rgba(black, 0.05);
  box-shadow: none;
  p:last-child {
    margin-bottom: 0;
  }
}
ul, ol, dl {
  margin: 0 0 1rem 1.5rem;
  padding: 0;
  ul, ol, dl { 
    margin: 0.5rem 0 0.5rem 1.5rem;
  }
}
dt {
  font-weight: bold;
}
li {
  margin: 0 0 0.5rem 0
}
hr {
  border: 0;
  height: 3px;
  background: #ccc;
  position: relative;
  margin: 3rem 0;
}
p, li, dd, td {
  > code {
    background: #f7f7f7;
    padding: 1px 5px 2px;
    margin: 0 1px;
    border-radius: 4px;
    position: relative;
    top: -1px;
  }
}
figure {
  display: block;
  padding: 1rem;
  border-top: 1px solid #9dcce9;
  border-bottom: 1px solid #9dcce9;
  text-align: center;
  margin: 0 0 1.5rem 0;
  background: #eef8ff;
}
img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

time {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 80%;
}

pre {
  @include font-stack-code;
  background: #f7f7f7;
  // background: #333;
  // color: white; // default code color
  padding: 1rem;
  font-size: 80%;
  -moz-tab-size: 2;
  -o-tab-size:   2;
  tab-size:      2;
  -ms-word-break:  normal;
  word-break:      normal;
  word-break:      normal;
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
  > code {
    @include scrollbars(0.5em, #e7e7e7, none);
    white-space: pre;
    display: block;
    overflow-x: auto;
    font-size: inherit;
  }
}
code {
  @include font-stack-code;
  font-size: 80%;
  text-transform: none;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  th, td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
}
